body {
    margin: 0;
}

address {
    font-style: normal;
}

/* Blocks */
.main {
    background-color: white;
    position: relative;
    z-index: 2;
    margin-bottom: 129px;
    box-sizing: border-box;
    padding: 130px 60px 100px 60px;
    font-family: 'Poppins', sans-serif;
}

.critical-title {
    font-size: 24px;
    font-weight: 600;
    color: #1B1B1B;
    margin: 0;
}

.std-medium-title {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    margin: 0 0 50px 0;
}

.std-text {
    font-size: 14px;
    margin: 4px 0;
    font-weight: 400;
    color: #6c6a74;
}

.std-text-input {
    width: 100%;
    height: 52px;
    background: #f2f4f8;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.flow-button {
    background-color: white;
    border: 2px solid #1B1B1B;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    padding: 20px 40px;
    font-size: 14px;
    margin-top: 13px;
    overflow: hidden;
    position: relative;
    transition: color 200ms ease-in;
}

.flow-button::after {
    content: "";
    background-color: #1B1B1B;
    width: 150%;
    height: 100%;
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    opacity: 0;
    z-index: 1;
    transition: opacity 200ms ease, transform 200ms ease;
}

.flow-button:hover {
    cursor: pointer;
    color: white;
}

.flow-button:hover::after {
    transform: rotate3d(0, 0, 0, 0) translate3d(0, 100%, 0);
    opacity: 1;
}

/* Elements */
.flow-button__inner {
    position: relative;
    z-index: 2;
}

.main__contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.main__banner {
    width: 100%;
    height: 232px;
    background-image: url("../img/contact.jpg");
    background-position: -200px;
}

.main__banner__text-shift {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main__banner__text-shift__text {
    color: white;
    margin: 7px 0 0 0;
    max-width: 585px;
    font-size: 14px;
    line-height: 2.14;
}

.main__banner__text-shift__text-red {
    color: #e95a5a;
}

.main__content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.main__content__products__top-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 1170px;
    padding-top: 88px;
    padding-bottom: 100px;
}

.main__content__products__top-container__results {
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
}

.main__content__products__top-container__orders {
    width: 191px;
    height: 36px;
    padding: 0 19px 0 26px;
    box-sizing: border-box;
    border: solid 2px #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__content__products__top-container__orders:hover {
    cursor: pointer;
}

.main__content__products__top-container__orders__title {
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    margin: 0;
}

.main__content__products__top-container__orders__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    background-color: white;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    padding: 0 15px;
    box-sizing: border-box;
}

.main__content__products__top-container__orders__chevron::before {
    font-size: 12px;
    color: #6c6a74;
}

.main__content__products__top-container__orders__list__li__item {
    line-height: 36px;
    border-bottom: solid 1px #dddddd;
    color: #6c6a74;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    transition: color 150ms ease;
}


.main__content__products__top-container__orders__list__li:last-child .main__content__products__top-container__orders__list__li__item {
    border-bottom: 0;
}

.main__content__products__top-container__orders__list__item:hover {
    color: #AcAaB4;
}

.main__content__products__bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px 30px;
    position: relative;
}

.main__content__products__bottom-container__product__image {
    width: 100%;
}

.main__content__products__bottom-container__product__name {
    font-weight: 500;
    margin: 30px 0 0 0;
    font-size: 18px;
    color: #1b1b1b;
    line-height: 1.1;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms ease;
}

.main__content__products__bottom-container__product__name:hover {
    color: #e95a5a;
}

.main__content__products__bottom-container__product__price {
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
    margin-top: 13px;
}

.main__content__products__bottom-container__product__extra {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 36px;
    transform: rotate(90deg);
    width: 66px;
    text-align: center;
    text-decoration: none;
    transform-origin: top left;
    left: 54px;
    top: 0;
}

/* Modifiers */
.main__banner__path-text--divider {
    text-decoration: none;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}

.main__banner__path-text--divider:hover {
    color: #E95A5A;
}

.main__banner__path-text--divider::after {
    content: "/";
    margin: 0 10px;
    color: white;
}

.main__banner__path-text--current {
    color: #E95A5A;
}

.std-text--sharp {
    color: #1B1B1B;
}

.std-text-input--large {
    height: 200px;
    padding-top: 15px;
    resize: vertical;
}

.std-text-input--error {
    border: 1px solid #ff8282;
}

.main__banner--categories {
    height: 495px;
    background-image: url("../img/categories.jpg");
}

.main__banner__text-shift__text--title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.main__content__products__bottom-container__product__extra--new {
    background-color: #6c6a74;
}

.main__content__products__bottom-container__product__extra--sale {
    background-color: #e95a5a;
}

.main__content__products__bottom-container__product__extra--hot {
    background-color: #1b1b1b;
}