<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

        <link rel="stylesheet" href="./assets/stylesheets/component_footer.css">

        <title>Components - Footer</title>
    </head>
    <body>

        <main>
            
        </main>

        <!-- Footer component start -->

        <footer class="footer">
            <a class="footer__logo" href="./index.html">Sublime.</a>
            <p class="footer__copyright">
                No-Copyright ©2019 No rights reserved except for the design i guess which is by ColorLib
            </p>
            <ul class="footer__ul">
                <li class="footer__ul__li"><a href="https://www.pinterest.com/"><i class="footer__icon fab fa-pinterest"></i></a></li>
                <li class="footer__ul__li"><a href="https://www.instagram.com/"><i class="footer__icon fab fa-instagram"></i></a></li>
                <li class="footer__ul__li"><a href="https://www.facebook.com/"><i class="footer__icon fab fa-facebook"></i></a></li>
                <li class="footer__ul__li"><a href="https://www.twitter.com/"><i class="footer__icon fab fa-twitter"></i></a></li>
            </ul>
        </footer>

        <!-- Footer component end -->
        
    </body>
</html>