<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

        <link rel="stylesheet" href="./assets/stylesheets/component_nav.css">

        <title>Component - Nav</title>
    </head>
    <body>
        
        <!-- Navbar component start -->

        <header class="nav-header">
            <nav class="nav-header__nav">
                <ul>
                    <li class="nav-header__nav__logo">Sublime.</li>
                    <li>
                        <a href="./index.html">
                            Home
                            <i class="nav-header__nav__drop-icon fas fa-chevron-down"></i>
                            <ul class="nav-header__nav__drop-list">
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./product.html">Product</a></li>
                                <li><a href="./cart.html">Cart</a></li>
                                <li><a href="./checkout.html">Check out</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="./categories.html">
                            Categories
                            <i class="nav-header__nav__drop-icon fas fa-chevron-down"></i>
                            <ul class="nav-header__nav__drop-list">
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                            </ul>
                        </a>
                    </li>
                    <li><a href="./accessories.html">Accessories</a></li>
                    <li><a href="./offers.html">Offers</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
                <ul>
                    <li><a href="./cart.html"><i class="fas fa-shopping-bag"></i> Cart (0)</a></li>
                    <li><i class="nav-header__nav__search-icon fas fa-search"></i></li>
                </ul>
            </nav>
        </header>

        <!-- Navbar component end -->

    </body>
</html>